<div>
  <table mat-table [dataSource]="movies" class="mat-elevation-z8">
    
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
       <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Studio">
      <th mat-header-cell *matHeaderCellDef> Studio </th>
      <td mat-cell *matCellDef="let element"> {{element.Studio}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Weekend_Income">
      <th mat-header-cell *matHeaderCellDef> Weekend Income </th>
      <td mat-cell *matCellDef="let element"> {{element.Weekend_Income}} </td>
    </ng-container>
    
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button (click) = "hideHim(element)">
          Delete Movie
        </button>
      </td>
    </ng-container>
        
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div style = "text-align: center; padding-top: 40px">The movie you deleted is: {{name}}</div>

<mat-form-field>
    <mat-select placeholder="Select a Studio" [(value)]="studio">
      <mat-option *ngFor="let s of studios" [value]="s">
        {{s}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button (click) = "filter()">Filter Movies</button>
  </div>